/* Selector global*/
* {
  box-sizing: content-box;
}

body {
  background-color: rgb(204, 204, 230);
  color: rgb(0, 0, 0);
}
.myli {
  background-color: bisque;
  color: rgb(117, 221, 56);
}
header {
  background-color: aqua;
  color: rgb(169, 3, 175);
}
.content-content-box > div {
  background-color: green;
  width: 300px;
  margin: 30px;
  border: 10px solid black;
}
#article-1 {
  background-color: aquamarine;
}
#myp {
  color: rgb(255, 251, 0);
}
.myp {
  font-size: 24px;
}
.back {
  background-color: brown;
}
.color-rojo-back-azul {
  color: red;
  background-color: blue;
}
/*  MODELO DE CAJA*/
.contenedor {
  margin: 50px;
  background-color: violet;
  padding: 10px;
  border: 5px solid red;
  color: green;
}
.contenido {
  background-color: aquamarine;
}
.contenedor-con-imagen {
  width: 200px;
  height: 200px;
  padding: 20px;
  background-color: aqua;
  background-image: url("OIP.jpg");
  background-size: cover;
  background-position: center;
  text-align: center;
}
.conetenido-con-imagen {
  background-color: white;
}
/* selectores*/
/* selector por elemento */
span {
  font-weight: bold;
}
/*  asignan los mismos estilños a elementos con nombres diferentes, esta regla afecta a todos los elemntos p y span*/
p,
span {
  color: violet;
}
/* afecta a los elementos p que se encuentran dentro del elemento main, ya sea contenido directo o indirecto*/
main p {
  background-color: aquamarine;
}
.contenedor-parrafo > p {
  font-size: 25px;
}
/* este selector hace referencia a elementos que estan precedidos por otros elementos, ambos deben estar al mismo nivel*/
h1 + p {
  color: red;
}
/* estilos mas usados*/
/* declara el tipo de letra que se usa para mostrar en un texto. se pueden declarar multiples valores separados por coma para ofrecer al navegador alternativas en caso de que alguna no se encuentre disponible*/
.container {
  border-top: 10px solid black;
  padding: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.container > .content > p {
  background-color: white;
  color: black;
  font-size: 25px; /*determina el tamaño de la fuente; puede estar incluido en pixeles(px), centimetros(cm), en porcentajes (%), o puntos (pt)*/
  font-weight: 100; /*bold (100-1000) */
  font-style: oblique; /* normal, italic, oblique*/
}
.content > h3 {
  background-color: bisque;
  font: bold 30px Arial, Helvetica, sans-serif; /* permite declarar varios atributos al mismo tiempo, separados por espacios. 1° grosor, 2° tamaño, 3° familia de fuente*/
  text-align: center; /* left, right, center, justify*/
  line-height: 50px; /*espacio entre lineas*/
}

/* colores */
.mydiv {
  height: 100px;
  width: 100px;
  border: 1px solid black;
  padding: 20px;
  background-color: rgb(169, 3, 175);
}
.div-in-mydiv {
  height: 50px;
  width: 50px;
  border: 1px solid black;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.5);
}
.div-in-mydiv-2 {
  height: 50px;
  width: 50px;
  border: 1px solid black;
  background-color: #007fff; /* 0 - 9 y A - F*/
}
/* tamaños*/
.div-in-mydiv-3 {
  height: 50px;
  width: 50px;
  margin: 20 0;

  border: 1px solid black;
  background-color: #00ff00; /* 0 - 9 y A - F*/
}
.tamano {
  height: 400px;
  width: 400px;
  background-color: black;
}
.tamano-hijo {
  height: 50%;
  width: 50%;
  background-color: red;
}
.div-vh-vw {
  height: 100vh;
  width: 100vw;
  background-color: blue;
}
